body{
    display: grid;
    grid-template-areas: "header header header"
                        "body body body" 
                        "footer footer footer";
    grid-gap: 10px;
    /* grid-template-columns: auto 1fr auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Images/backgroundBodyImage.jpg) ;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    grid-area: header;
}

nav{
    color: rgb(66, 60, 60);
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 15px 2%;
    /* grid-area: header;  */
    background-image: url(./Images/BackgroundNavImage.jpg) ;
    opacity: 0.7;
    
}

form{
    color: rgb(66, 60, 60);
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    grid-area: body;
    justify-self: center;
    align-items: center;
   /* border: solid 1px;*/
    border-radius: 20px;
    width: 50%;
    margin-top: 50px;
    padding: 20px;
    height: fit-content;
    box-shadow: inset 1px 1px 15px black;
    max-width: 350px;
    background-image: url('/Images/BackgroundFormImage.jpg');
    background-color: lightgrey;
    background-position: 50% 0%;
}
   

input[type="text"]{
    width: 80%;
    height: 35px;
    font-size: 20px;
    border: none;
    border-bottom: solid 2px rgb(99, 88, 88);
    border-radius: 0%;
    background-color: #f1ecec00;
}

::placeholder {
    color: rgb(54, 54, 54);
    font-family: monospace;
    opacity: 1; 
  }

.createNewAccount ,#submit{
    font-weight: 600;
    margin-top: 10px;
    color: rgb(102, 93, 93);
    text-decoration: none;
    font-family: monospace;
    padding: 5px;
    font-size: 20px;
    border: solid 3px;
    border-radius: 15px;
    background-color: #EFEFEF;
}
#submit{
    width: 50%;
    
    margin-top: 25px ;
}
.createNewAccount:hover ,#submit:hover{
    box-shadow: inset 1px 1px 8px;
    padding: 5px;
}

#errorPassword,#errorUsername,#errorEmail{
    color: rgb(99, 88, 88);
    font-size: 13px;
    font-weight: 600;
    width: 80%;
    min-height: 40px;
    text-align: center;
}

nav a{
    color: rgb(66, 60, 60);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
} 

nav a:hover{
    text-decoration: underline;
}

.formTitle{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

input{
    
    border-radius: 5px;
    
}

#createNewAccountForm {
    height: fit-content;
}

#indexBody{
    grid-area: body;
    padding:120px;
    margin: 100px;
    background-color: black;
    color: white;
    justify-self: center;
    height: 1vh;
/* malo myb pogledat kako da stickam za dno footer */
}

footer{
    grid-area: footer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff ;
    text-align: center;
    position: relative;
    margin-top: 50px;
}
