body{
    display: grid;
    grid-template-areas: "header header header"
                        "body body body" 
                        "footer footer footer";
    grid-gap: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Images/backgroundBodyImage.jpg) ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid ;
    border-radius: 10px;
    padding: 0% 2%;
    grid-area: header; 
    background-image: url(./Images/backgroundBodyImage.jpg) ;

}
form{
    color: rgb(66, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-area: body;
    justify-self: center;
    align-items: center;
    border: solid 1px;
    border-radius: 20px;
    width: 50%;
    margin-top: 10%;
    padding: 20px;
    height: fit-content;
    box-shadow: inset 1px 1px 15px black;
    max-width: 400px;
    background-image: url(/Images/BackgroundFormImage.jpg);
    background-position: 50% 0%;
}
   
#submit{
    width: 50%;
    border: solid 1px;
    margin-top: 10px ;
}
input[type="text"]{
    width: 80%;
   
}
#createNewAccount{
    margin-top: 10px;
    color: rgb(66, 60, 60);
    text-decoration: none;
    font-family: monospace;
    padding: 8px;
}
#createNewAccount:hover{
    border: solid;
    border-radius: 15px;
    padding: 5px;
}
#errorPassword,#errorUsername{
    color: rgb(99, 88, 88);
    font-size: 13px;
    width: 80%;
    min-height: 40px;
}
a{color: antiquewhite;}