.changePassword {
    position: absolute;
    z-index: 1;
    align-self: center;
    justify-self: center;
    width: 500px;
    transform: translate(20%,25%);
    opacity: 0;
    font-size: 25px;
    transition: opacity 1s;
}
.changePassword input{
    margin: 10px 5px 10px 5px;
}

.changePassword label{
    text-align: center;
}
.changePassword span{
    position: absolute;
    right: 48%;
}
.changePasswordClicked{
    opacity: 1;
    
}
@media (max-width: 600px){
.changePassword{
    width: fit-content;
}
}